apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tool-sandbox.fullname" . }}
  labels:
    {{- include "tool-sandbox.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "tool-sandbox.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "tool-sandbox.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "tool-sandbox.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: HYPHA_SERVER_URL
              value: {{ .Values.hypha.serverUrl }}
            - name: SERVICE_ID
              value: "{{ .Release.Name }}-service"
            - name: IN_DOCKER
              value: "true"
            {{- if .Values.hypha.workspace }}
            - name: HYPHA_WORKSPACE
              value: {{ .Values.hypha.workspace }}
            {{- end }}
            {{- if .Values.hypha.token }}
            - name: HYPHA_TOKEN
              value: {{ .Values.hypha.token }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: workspace-volume
              mountPath: /app/workspace
      volumes:
        - name: workspace-volume
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
